<div class="row">
  <div class="col-auto">
  <h2>{{user.username}}! </h2>
  </div>
</div>
<br>
{{#if posts.lenght}}
<article class="post-edit">
{{#each posts as |post|}}
{{>edititem post}}
{{/each}}
</article>
{{/if}}

<footer class="footer flex-row justify-center">
    <a href="/dashboard/new">
    <div class="newpost">
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-warning" type="button">New Post &#10133; </button>
        </div>
    </div>
    </a>
  </footer>