<div class="row">
  <div class="col-auto">
  <h2>{{user.username}}! </h2>
  </div>
</div>
<br>
{{#if posts.lenght}}
<article class="post-edit">
{{#each posts as |post|}}
{{>edititem post}}
{{/each}}
</article>
{{/if}}