<div class="position-relative">
    <h2 class="display-6">Log in</h2>
        <form class="position-absolute start-50 translate-middle-x" id="login">
            <div class="mb-3">
                <label for="InputUser" class="form-label">Username</label>
                <input type="text" class="form-control" id="InputUser" aria-describedby="userHelp">
                <div id="userlHelp" class="form-text">We'll never share your information with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
                <a class="registerHref" href="">
                    Dont have an account?<span id="register"><a href="/signup">Register</a></span>
                </a>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>