
<div class="card text-white bg-dark mb-3">
  <div class="card-header">
   <h5 class="card-title burgerTitleCard">{{posts.title}}</h5>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{posts.content}}</h5>
   <a class="btn btn-danger btn-lg deleteBtn" id="{{posts.id}}" href="/dashboard">DELETE</a>
  </div>
</div>

<script src="/js/edit.js"></script>