
<div class="card">
    <div class="card-header">
            <h2>
                <div class="col-8 usertitle">{{post.title}}</div>
            </a>
            </h2>
            <div class="col-3 burgerinfo">posted by {{post.user.username}} on {{format_date post.date_created}}
            </div>
    </div> 
</div>

<div class="card">
    <input class="burgerId-input"  type="hidden" name="burgerId-input" value="{{post.user_id}}"/>
   
    <form class="card-body commentForm text-center">
        
        <label for="comment" class="form-label"></label>
        <input type="text" class="form-input comment-input comm-bar">
        </br>
        <button type="submit" class="btn btn-danger submit-btn">Add comment</button>
    

    </form>
      
        {{> comments post.comments}}
</div>
        

    <script src="/js/comment.js"></script>